a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
}

.container {
  margin: 1em auto;
  padding: 0.1em 0.5em;
  width: 80%;
  background: #ccc;
}

.news-list {
  margin: 0;
}
ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  padding: 0.5em 0.2em;
  border-bottom: 1px solid;
}
ul li:hover {
  box-shadow: 0 2px 5px green, 0 8px 5px 1px blue, 0 3px 14px 2px gray;
}

ul li p {
  font-size: 1.1rem;
  margin: 0;
  margin-bottom: 0.2em;
  font-weight: 600;
}

span {
  margin: 0.4em;
  font-size: 0.8rem;
}
